<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{contact.name}}</h3>
            </div>
            <div class="col-xs-6">
                <img *ngIf="contact.imageUrl.length > 1" src="{{contact.imageUrl}}" alt="{{contact.name}}" style="max-height: 100px;">
            </div>
            <div class="col-xs-6 clearfix pull-right">
                <a href="#" type="button" class="btn btn-primary">Edit</a>
                <a href="#" type="button" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <p>email: {{contact.email}}</p>
                <p>phone: {{contact.phone}}</p>
            </div>
        </div>
    </div>
</div>