<div class="panel panel-default">
  <div class="panel-heading">
      <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <span class="title pad-left-right">Contacts</span>
                </div>
                <div class="row">
                  <div class="input-group pull-left pad-left-right col-xs-7">
                    <input type="text" #searchBox (keyUp)="search(searchBox.value)" placeholder="Enter a search value" class="form-control">
                    <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
                  </div>
                  <div class="pull-right pad-left-right">
                    <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      
  </div>
  <div class="panel-body">
      <div class="row">
          <div class="col-xs-12" 
                id="contacts-list" 
                [cdkDropListConnectedTo]="['groupList']"
                [cdkDropListData]="contacts" 
                cdkDropList (cdkDropListDropped)="drop($dragEvent)">
              <cms-contact-item *ngFor="let contact of contacts | contactsFilter:term"
                  [contact]="contact"
                  [id]="contact.id"
                  cdkDrag
                  [cdkDragData]="contact"
              ></cms-contact-item>
          </div>
      </div>
  </div>
</div>